<h1>Registration page</h1>

<!-- Method 1 -->
<form action="">
    {{form}}
    <button>Submit</button>
</form>

<!-- Method 2 -->
<form action="">
    <table>
        {{form.as_table}}
    </table>
    <button>Submit</button>
</form>

<!-- Method 3 -->
<form action="">
    <ul>
        {{form.as_ul}}
    </ul>
    <button>Submit</button>
</form>

<!-- Method 4 -->
<form action="">
    {{form.as_p}}
    <button>Submit</button>
</form>

<!-- Method 5 -->
<form action="">
    {{form.first_name}}
    <button>Submit</button>
</form>
