<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
</head>
<body>

    <div>
        <!-- from these if need view code or forms code so give me as a comment means in help text need  first_name = forms.CharField(help_text='write your first code ') -->
         {{form.first_name.label}}   <!-- here use for text/label   result e.g are ........ -->
        {{form.first_name.value}}   <!-- here use for value   result e.g are ........ -->
        {{form.first_name.html_name}}   <!-- here use html name  result e.g are ........-->
        {{form.first_name.field.required}}   <!-- here use for ........... e.g are ........-->
        {{form.first_name.help_text}}<!-- here use for ........... e.g are ........-->
        .
        .
        .
        .
        .
        .
        .
        . 
       </div>

    
</body>
</html>