{% extends "core/base.html" %}


  {% block hero %} 
  Home hero section
  <h1> Here is home h1 section </h1>
  <p> here is p section in home page </p>



  
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>





  {% endblock hero %}

  {% block footer %}  Home footer section  {% endblock footer %}