<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>stu jankari</title>
  </head>
  <body>
    <h3>
      
            {{student.name}}
            {{student.roll}}
            {{student.course}}
     

        <hr>

                {% for stu in  students%}
            {{stu.name}}
            {{stu.roll}}
            {{stu.course}}
            <br>
        {% endfor %}


    </h3>
  </body>
</html>
